.MoUI-switch {
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid;
  border-color: #cccccc;
  position: relative;
  text-align: left;
  overflow: hidden;
  line-height: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.MoUI-switch .MoUI-switch-container {
  display: inline-block;
  top: 0;
  border-radius: 4px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.MoUI-switch .MoUI-switch-handle-on,
.MoUI-switch .MoUI-switch-handle-off,
.MoUI-switch .MoUI-switch-label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block !important;
  height: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
}
.MoUI-switch .MoUI-switch-handle-on,
.MoUI-switch .MoUI-switch-handle-off {
  text-align: center;
  z-index: 1;
}
.MoUI-switch .MoUI-switch-handle-on.MoUI-switch-primary,
.MoUI-switch .MoUI-switch-handle-off.MoUI-switch-primary {
  color: #fff;
  background: #428bca;
}
.MoUI-switch .MoUI-switch-handle-on.MoUI-switch-info,
.MoUI-switch .MoUI-switch-handle-off.MoUI-switch-info {
  color: #fff;
  background: #5bc0de;
}
.MoUI-switch .MoUI-switch-handle-on.MoUI-switch-success,
.MoUI-switch .MoUI-switch-handle-off.MoUI-switch-success {
  color: #fff;
  background: #5cb85c;
}
.MoUI-switch .MoUI-switch-handle-on.MoUI-switch-warning,
.MoUI-switch .MoUI-switch-handle-off.MoUI-switch-warning {
  background: #f0ad4e;
  color: #fff;
}
.MoUI-switch .MoUI-switch-handle-on.MoUI-switch-danger,
.MoUI-switch .MoUI-switch-handle-off.MoUI-switch-danger {
  color: #fff;
  background: #d9534f;
}
.MoUI-switch .MoUI-switch-handle-on.MoUI-switch-default,
.MoUI-switch .MoUI-switch-handle-off.MoUI-switch-default {
  color: #000;
  background: #eeeeee;
}
.MoUI-switch .MoUI-switch-label {
  text-align: center;
  margin-top: -1px;
  margin-bottom: -1px;
  z-index: 100;
  color: #333333;
  background: #ffffff;
}
.MoUI-switch .MoUI-switch-handle-on {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.MoUI-switch .MoUI-switch-handle-off {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.MoUI-switch input[type='radio'],
.MoUI-switch input[type='checkbox'] {
  position: absolute !important;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}
.MoUI-switch input[type='radio'].form-control,
.MoUI-switch input[type='checkbox'].form-control {
  height: auto;
}
.MoUI-switch.MoUI-switch-mini .MoUI-switch-handle-on,
.MoUI-switch.MoUI-switch-mini .MoUI-switch-handle-off,
.MoUI-switch.MoUI-switch-mini .MoUI-switch-label {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
.MoUI-switch.MoUI-switch-small .MoUI-switch-handle-on,
.MoUI-switch.MoUI-switch-small .MoUI-switch-handle-off,
.MoUI-switch.MoUI-switch-small .MoUI-switch-label {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.MoUI-switch.MoUI-switch-large .MoUI-switch-handle-on,
.MoUI-switch.MoUI-switch-large .MoUI-switch-handle-off,
.MoUI-switch.MoUI-switch-large .MoUI-switch-label {
  padding: 6px 16px;
  font-size: 18px;
  line-height: 1.33;
}
.MoUI-switch.MoUI-switch-disabled,
.MoUI-switch.MoUI-switch-readonly,
.MoUI-switch.MoUI-switch-indeterminate {
  cursor: default !important;
}
.MoUI-switch.MoUI-switch-disabled .MoUI-switch-handle-on,
.MoUI-switch.MoUI-switch-readonly .MoUI-switch-handle-on,
.MoUI-switch.MoUI-switch-indeterminate .MoUI-switch-handle-on,
.MoUI-switch.MoUI-switch-disabled .MoUI-switch-handle-off,
.MoUI-switch.MoUI-switch-readonly .MoUI-switch-handle-off,
.MoUI-switch.MoUI-switch-indeterminate .MoUI-switch-handle-off,
.MoUI-switch.MoUI-switch-disabled .MoUI-switch-label,
.MoUI-switch.MoUI-switch-readonly .MoUI-switch-label,
.MoUI-switch.MoUI-switch-indeterminate .MoUI-switch-label {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default !important;
}
.MoUI-switch.MoUI-switch-animate .MoUI-switch-container {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}
.MoUI-switch.MoUI-switch-inverse .MoUI-switch-handle-on {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.MoUI-switch.MoUI-switch-inverse .MoUI-switch-handle-off {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.MoUI-switch.MoUI-switch-focused {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.MoUI-switch.MoUI-switch-on .MoUI-switch-label,
.MoUI-switch.MoUI-switch-inverse.MoUI-switch-off .MoUI-switch-label {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.MoUI-switch.MoUI-switch-off .MoUI-switch-label,
.MoUI-switch.MoUI-switch-inverse.MoUI-switch-on .MoUI-switch-label {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
